/* Thiết lập container cho nhiều hộp chat */
.chat-container {
  position: fixed;
  bottom: 0;
  right: 20px;
  display: flex;
  max-width: 80%; /* Điều chỉnh chiều rộng tối đa */
  gap: 12px;
  z-index: 999;
  /* background-color: red; */
}
.column-chat {
  display: flex;
  flex-direction: column-reverse;
  /* justify-content: flex-end; */

  gap: 4px;
  padding-bottom: 18px;
}

.chat-box-hidden {
  cursor: pointer;
  transition: all 0.2s ease;
}

.chat-box-hidden:hover {
  transform: translateY(-2px);
}

.chat-box-hidden:hover .chat-box-hidden-btnclose {
  display: flex;
}

.chat-box-hidden-btnclose {
  position: absolute;
  top: 0px;
  right: 0;
  font-weight: 500;
  height: 18px;
  width: 18px;
  background-color: var(--bg-secondary);
  border-radius: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.chat-box-hidden-btnclose:hover {
  background-color: rgb(77, 77, 77);
}

.row-chat {
  display: flex;
  gap: 8px;
}

.chat-btn-creategroup {
  color: var(--color-text-secondary);
  background-color: var(--bg-secondary);
  width: 46px;
  height: 46px;
  border-radius: 100%;
  transition: background-color 0.2s ease;
}

.chat-btn-creategroup:hover {
  background-color: rgb(85, 85, 85);
}

/* Thiết lập styles cho từng hộp chat */
.chat-box {
  width: 100%;
  background-color: var(--bg-header);
  /* border: 1px solid #ccc; */
  /*Thêm các styles khác cho hộp chat ở đây */
  width: 350px;
  height: 450px;
  border-radius: 12px 12px 0 0;
  padding: 8px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.chat-box-header {
  padding: 0 8px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--bg-secondary);
}
.chat-box-infor-user {
  color: var(--color-text-primary);
}
.chat-box-infor-user .chat-box-infor-user-status {
  color: var(--color-text-secondary);
}

.chat-box-btn-controller {
  border-radius: 100%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.chat-box-btn-controller:hover {
  background-color: var(--bg-secondary);
}

.chat-box-btn-controller {
  color: gray;
  display: flex;
  align-items: center;
  justify-items: center;
}

.chat-box-body {
  overflow-y: scroll;
  /* height: 100%; */
  /* height: 300px; */
  margin-bottom: 12px;
  flex: 1;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.chat-box-footer {
  margin-top: auto;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.chat-box-input {
  flex: 1;
  border-radius: 24px;
  padding: 4px 12px;
  background: var(--bg-secondary);
  border: none;
  outline: none;
  color: var(--color-text-primary);
}

.chat-box-btn-footer {
  color: gray;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.chat-box-btn-footer:hover {
  background-color: var(--bg-secondary);
}

/* Ẩn thanh cuộn mặc định trên các trình duyệt WebKit */
.chat-box-body::-webkit-scrollbar {
  width: 12px;

  background-color: transparent;

  /* border-radius: 24px; */
}

/* Tùy chỉnh màu sắc của thanh cuộn */
.chat-box-body::-webkit-scrollbar-thumb {
  background-color: gray;
  /* border-radius: 24px; */
  height: 20px;
}

/* Tùy chỉnh màu nền của khu vực thanh cuộn */
.chat-box-body::-webkit-scrollbar-track {
  background-color: var(--bg-secondary);
}

/* Tùy chỉnh màu sắc khi di chuột vào thanh cuộn */
.chat-box-body::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-text-secondary);
  cursor: pointer;
}

/* message part here */

.wrap-mess-send {
  margin-left: auto;
  background-color: var(--blue-facebook);
  color: var(--color-text-primary);
  padding: 4px 12px;
  border-radius: 24px;
}

.wrap-mess-receive {
  display: flex;
  gap: 8px;
  align-items: center;
}

.mess-receive-text {
  padding: 4px 12px;
  background-color: var(--bg-secondary);
  color: var(--color-text-primary);
  border-radius: 24px;
}

/* message part ends here */

/* create group chat here */

/* .ant-select-selection-search-input {
  height: 60px !important;
  line-height: inherit !important;
  padding: 0 !important;
} */

.wrap-create-group-chat {
  background-color: var(--bg-header);
  color: var(--color-text-primary);
  width: 80%;
  padding: 8px;
}

.create-group-chat-btnfooter {
  padding: 4px 8px;
  width: 80px;
  border-radius: 12px;
  background-color: var(--blue-facebook);
  transition: all 0.2s ease;
  font-weight: 500;
}

.create-group-chat-btnfooter:hover {
  background-color: #086ac5;
}

.create-group-chat-btnfooter--cancel {
  background-color: var(--bg-secondary);
}

.create-group-chat-btnfooter--cancel:hover {
  background-color: rgb(80, 80, 80);
}

.ant-dropdown-menu {
  background-color: var(--bg-header) !important;
}
.ant-dropdown-menu-item {
  color: var(--color-text-primary) !important;
}
.ant-dropdown-menu-item:hover {
  background-color: rgb(64, 64, 64) !important;
}

/* create group chat ends here */

.wrap-modal-member-groupchat {
  background-color: var(--bg-header);
  border-radius: 12px;
}
/* modal group chat member */
