@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-header: #242526;
  --bg-primary: #18191a;
  --bg-secondary: #3a3b3c;
  --color-text-primary: #e4e6eb;
  --color-text-secondary: #b0b3b8;
  --blue-facebook: #0084ff;
}

#root {
  background-color: var(--bg-primary);
  height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;
}

.wrap-content {
  padding: 0 4%;
}

/* Ẩn thanh cuộn mặc định trên các trình duyệt WebKit */
#root::-webkit-scrollbar {
  width: 14px;

  background-color: transparent;

  /* border-radius: 24px; */
}

/* Tùy chỉnh màu sắc của thanh cuộn */
#root::-webkit-scrollbar-thumb {
  background-color: gray;
  /* border-radius: 24px; */
  height: 100px;
}

/* Tùy chỉnh màu nền của khu vực thanh cuộn */
#root::-webkit-scrollbar-track {
  background-color: var(--bg-secondary);
}

/* Tùy chỉnh màu sắc khi di chuột vào thanh cuộn */
#root::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-text-secondary);
  cursor: pointer;
}

/* .outlet {
  height: 100vh;
} */
