.home-nav-right {
  padding: 16px 12px;
  color: var(--color-text-primary);
  font-weight: 500;
  max-height: 700px;
  overflow-y: scroll;
  position: fixed;
  z-index: 1;
  right: 0;
}

.btn-expand {
  display: flex;
  /* color: var(--color-text-primary); */
  align-items: center;
  gap: 8px;
  margin-top: 12px;
}

.icon-expand {
  padding: 4px;
  border-radius: 100%;
  background-color: var(--bg-secondary);
}

.home-nav-right-menu {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--bg-secondary);
}

.wrap-item-nav-right-img {
  position: relative;
}

.item-user-nav-status {
  position: absolute;
  bottom: 2px;
  right: 4px;
  background-color: green;
  border-radius: 100%;
  width: 8px;
  height: 8px;
}

/* Ẩn thanh cuộn mặc định trên các trình duyệt WebKit */
.home-nav-right::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;

  /* border-radius: 24px; */
}

/* Tùy chỉnh màu sắc của thanh cuộn */
.home-nav-right:hover::-webkit-scrollbar-thumb {
  background-color: var(--bg-secondary);
  border-radius: 24px;
}

/* Tùy chỉnh màu nền của khu vực thanh cuộn */
.home-nav-right:hover::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Tùy chỉnh màu sắc khi di chuột vào thanh cuộn */
.home-nav-right:hover::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-text-secondary);
  cursor: pointer;
}

.wrap-item-nav-right {
  transition: all 0.2s ease;
  padding: 8px;
  cursor: pointer;
  border-radius: 16px;
}
.wrap-item-nav-right:hover {
  background-color: var(--bg-secondary);
}
