/* create story card */

.wrap-create-story-card {
  padding: 0 6px;
}

.create-story-card {
  overflow: hidden;
  border-radius: 16px;
  width: 100%;
  cursor: pointer;
  position: relative;
  /* padding: 0 6px; */
}

.image-wrapper {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.image-wrapper img {
  transition: transform 0.1s ease;
}

.create-story-card:hover img {
  transform: scale(1.05);
}

.wrap-btn-create-story {
  top: -45px;
  position: absolute;
  background-color: var(--bg-header);
  border-radius: 0 0 12px 12px;
  position: relative;
  height: 45px;
}

.create-story-icon-add {
  background-color: var(--blue-facebook);
  border-radius: 100%;
  border: solid 4px var(--bg-header);
  font-size: 20px;
  padding: 8px;
  font-weight: bold;
}

.btn-create-story {
  position: absolute;
  left: 45%;
  top: -24px;
  color: var(--color-text-primary);
  font-weight: 500;
}

/* create story card ends here--------*/

/* story card */

.wrap-story-card {
  padding: 0 6px;
}

.story-card {
  overflow: hidden;
  border-radius: 16px;
  width: 100%;
  cursor: pointer;
  position: relative;
  /* padding: 0 6px; */
}

.image-wrapper {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.image-story-wrapper .img-story {
  transition: transform 0.1s ease;
}

.story-card:hover .img-story {
  transform: scale(1.05);
}

.story-card-avatar {
  position: absolute;
  top: 0;
  left: 12px;
}
.story-card-name {
  position: absolute;
  bottom: 0;
  left: 12px;
  color: var(--color-text-primary);
  font-weight: 500;
}
/* story card ends here */
